[submodule "thirdparty/wolfssl"]
	path = thirdparty/wolfssl
	url = https://github.com/wolfSSL/wolfssl
	branch = master
[submodule "thirdparty/googletest"]
	path = thirdparty/googletest
	url = ../../cilliemalan/googletest
	branch = master
[submodule "thirdparty/mbed-crypto"]
	path = thirdparty/mbed-crypto
	url = https://github.com/ARMmbed/mbed-crypto
	branch = master
